<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/header-style.css" />
    <title>Walls, Scrawls and Stalls</title>
  </head>
  <body>
      <header>
        <h3 class="nav-title">WALLS, SCRAWLS AND STALLS</h3>
        <nav>
          <ul class="nav_links">
            
           <li> <a href="/users/signout">Signout</a></li>
  
            <li><a class="nav-sub" href="/about">About Project</a></li>
          </ul>
        </nav>
      </header>
    </body>
  </html>
      </div>
    </header>
  </body>
</html>
