<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/about-style.css" />
    <title>Walls, Scrawls and Stalls</title>
  </head>
  <body>
    <header>
      <nav class="nav-bar">
        <a href="/walls">WALLS, SCRAWLS AND STALLS</a>
        |
        <!-- <a href="/walls/new">SCRAWL</a> -->
        <!-- | -->
        <a href="/users/register">Register</a>
        |
        <a href="/users/signin">Signin</a>
        <!-- | -->
        <!-- <a href="/users/signout">Signout</a> -->
        |
        <a href="/about">About Project</a>
      </nav>
    </header>

    <div>
      <p>
        The evolving nature of street art and murals that adorn Comuna 13 in
        Medellin, Colombia inspired the creation of this app -which in essence
        aims to create a repository for graffiti images from around the world.
        Graffiti is transient in nature and as such often times goes
        undocumented or recorded. This app would help document some of those
        ephemeral visuals by allowing users to upload and post images of
        graffiti/tags they encounter from around the world to this shared site.
      </p>
      <p>
        According to an article from the (Atlantic), graffiti is often broken
        down into "three categories: Tourist graffiti (“John wuz here”),
        inner-city graffiti (like tagging and street art), and toilet graffiti
        (or “latrinalia” as it is sometimes called in academic literature)" -
        that categorical breakdown is the reasoning behind the name of this app
        which is - Walls, Scrawls, and Stalls.
      </p>
    </div>
  </body>
</html>
