<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/header-style.css" />
    <link rel="stylesheet" href="/css/page-style.css" />
    <link rel="stylesheet" href="/css/add-new-style.css" />
    <title>WSS | ADD NEW</title>
  </head>

  <body>
    <header>
      <h3 class="nav-title">
        <a href="/walls/loggedin">WALLS, SCRAWLS AND STALLS</a>
      </h3>
      <nav>
        <ul class="nav_links">
          <li><a href="/walls/loggedin">Back to Gallery Wall </a></li>
          <li><a href="/users/signout">Signout</a></li>
        </ul>
      </nav>
    </header>

    <div class="add-box">
      <h2>Add Wall, Scrawl or Stall</h2>
      <form action="/walls" method="POST">
        <!-- INPUTS TO FILL IN FOR NEW POST-->
        <div class="input-box">
          <input type="text" name="img" required="" />
          <label for="image">Image Link | URL Only</label>
        </div>

        <div class="input-box">
          <input type="text" name="year" />
          <label for="year"
            >Year Photo Was Taken (if unknown leave blank)</label
          >
        </div>

        <div class="input-box">
          <input type="text" name="location" />
          <label for="location">Location</label>
        </div>

        <div class="input-box">
          <input type="text" name="artist" />
          <label for="artist">Artist (if known)</label>
        </div>

        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
